In [2]:
pip install mysql-connector-python

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ----- ---------------------------------- 2.1/16.4 MB 11.7 MB/s eta 0:00:02
   ---------- ----------------------------- 4.5/16.4 MB 11.2 MB/s eta 0:00:02
   ---------------- ----------------------- 6.6/16.4 MB 11.2 MB/s eta 0:00:01
   --------------------- ------------------ 8.9/16.4 MB 11.1 MB/s eta 0:00:01
   -------------------------- ------------- 11.0/16.4 MB 10.7 MB/s eta 0:00:01
   -------------------------------- ------- 13.4/16.4 MB 11.0 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.4 MB 11.1 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 10.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [3]:
import mysql.connector
from mysql.connector import errorcode

import pandas as pd

In [4]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='instituto')

print(cnx)
cnx.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000221793DCD10>

In [14]:
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='instituto')
  print("ok")
# en caso de que no lo consigas por que hay algún error entonces ...
except mysql.connector.Error as err:

  # si es un error con la contraseña devuelveme un mensaje de acceso denegado ya que tenemos problemas con la contraseña
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  # si el error no tiene que ver con la contraseña, puede ser porque la base de datos no exista, devuelveme un mensaje de que la base de datos no existe
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  # si no es por ninguno de los errores anteriores, printeame cual es el error que estoy teniendo en mi conexión
  else:
    print(err)

ok

In [15]:
mycursor = cnx.cursor()

# realizamos nuestra query
mycursor.execute("SELECT * FROM profesores")

# le decimos a Python que nos devuelva todos los resultados de la query usando el método fetchall
myresult = mycursor.fetchall()
print(myresult)

[('12345678A', 'Juan Pérez', 'Calle Mayor, 10', 600123456), ('45678912C', 'Carlos Gómez', 'Plaza Luna, 7', 600789123), ('87654321B', 'María López', 'Avenida Sol, 45', 600654321)]

In [16]:

mycursor.execute("SELECT nombre, tlf FROM profesores")

myresult = mycursor.fetchall()
print(myresult)

[('Juan Pérez', 600123456), ('Carlos Gómez', 600789123), ('María López', 600654321)]

In [17]:
mycursor.execute("SELECT nombre_del_modulo FROM modulos")

myresult = mycursor.fetchall()
print(myresult)

[('Matemáticas',), ('Física',), ('Química',), ('Biología',), ('Historia',)]

In [18]:
mycursor.execute("SELECT Nombre, Apellidos FROM alumnas")

myresult = mycursor.fetchall()
print(myresult)

[('Ana Martínez', 'Martínez'), ('Luis Fernández', 'Fernández'), ('Clara Ruiz', 'Ruiz'), ('Pedro Sánchez', 'Sánchez'), ('Lucía Torres', 'Torres')]

In [19]:
mycursor.execute("SELECT Nombre, Apellidos FROM alumnas")

myresult = pd.DataFrame(mycursor.fetchall())
print(myresult)

                0          1
0    Ana Martínez   Martínez
1  Luis Fernández  Fernández
2      Clara Ruiz       Ruiz
3   Pedro Sánchez    Sánchez
4    Lucía Torres     Torres

In [22]:
mycursor.execute("""SELECT nombre FROM profesores
                    WHERE dni 12345678A""")

myresult = mycursor.fetchone()
print(myresult)

InternalError: Unread result found

In [23]:
sql_seleccion_profe = """SELECT nombre FROM profesores
                    WHERE dni 12345678A"""

In [24]:
sql_seleccion_profe.execute()

AttributeError: 'str' object has no attribute 'execute'

In [25]:
cursor = conexion.cursor()
cursor.execute("SELECT * FROM empleados")

NameError: name 'conexion' is not defined

In [33]:
profesor = """SELECT nombre FROM profesores
	WHERE dni = '12345678A';"""

In [34]:
profesor.execute()

AttributeError: 'str' object has no attribute 'execute'